{
  "presets": [
    ["env",{
      "targets": {
        "browser": "last 2 versions"
      },
      "modules": "commonjs"
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime"
  ],
  "retainLines": true
}