// Typography
$fonts-path: "../material-react/sass/imports/fonts/";
$fonts-roboto-regular-path: $fonts-path + "Roboto-Regular.woff2";
$fonts-roboto-medium-path: $fonts-path + "Roboto-Medium.woff2";
$fonts-roboto-light-path: $fonts-path + "Roboto-Light.woff2";