.material-checkbox-container {
  padding: 8px;
  display: inline-flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  @include cursor-pointer;

  & .text {
    margin-left: 8px;
    font-size: 15px;
    color: rgba(0,0,0,$primary-opacity-light);
  }

  &.dark-theme {
    .checkbox-icon {
      -webkit-filter: invert(0%);
    }

    .text {
      color: rgba(255,255,255, $primary-opacity-dark) !important;
    }
  }

  &.disabled {
    .text {
      color: rgba(0,0,0,$disabled-text-dark);
    }

    &, .material-checkbox {
      cursor: default;
    }
  }
}

.material-checkbox {
  width: 20px;
  height: 20px;
  min-width: 18px !important;
  position: relative;
  cursor: pointer;
  @include ripple-icon;
  transition: 0.2s transform ease-out;

  &.scale {
    transform: scale(0.9);
  }

  .checkbox-border {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: rgba(0,0,0,0.54);
    border-style: solid;
    border-radius: 3px;
    box-sizing: border-box;
    transition: 0.1s border-color, 0.2s border-width ease-out;
  }
  
  .checkbox-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('#{$images-path}/Controls/check.svg');
    clip-path: inset(100% 50% 0 50%);
    -webkit-font-smoothing: antialiased;
    transform: scale(1) translateZ(0);
    transition: 0.3s clip-path ease-out, 0.1s transform ease-out;
    @include image-center(20px, auto);
    @include invert-colors;
  }

  &.icon-animation {
    .checkbox-icon {
      clip-path: inset(0 0 0 0);
    }
  }
}