.checkbox {
    width: 18px;
    height: 18px;
    position: relative;
}

.checkbox > .border {
    border-width: 2px;
    border-color: #9E9E9E;
    border-style: solid;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cover-animation {
    -webkit-clip-path: inset(0 0 0 0);
    transition: 0.3s all;
}

.hide {
    -webkit-clip-path: inset(0 100% 0 0);
}

.check-icon {
    background-position: center;
    background-image: url('../img/check.png');
    background-size: 16px 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
