.dialog {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -100%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    background-color: #fafafa;
    font-family: 'Roboto-Regular';
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 100;
    opacity: 0;
    display: none;
}

.dialog-dark {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0; /*0.7*/
    display: none;
    z-index: 99;
}

.dialog .dialog-title {
    width: 100%;
    color: #212121;
    font-size: 20px;
    font-family: 'Roboto-Medium';
    padding: 24px;
    padding-bottom: 20px;
}

.dialog .dialog-content {
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #444;
    max-height: 300px;
    overflow: auto;
}

.dialog .dialog-content::-webkit-scrollbar {
    display: none;
}

.dialog .dialog-actions {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 24px;
    padding-bottom: 8px;
    position: relative;
}

.dialog .dialog-actions .dialog-action-button {
    text-align: center;
    min-width: 64px;
    padding: 8px;
    padding-top:8.5px;
    padding-bottom:8.5px;
    margin-right: 8px;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto-Medium';
    color: #009688;
}

.dialog .dialog-list .dialog-action-button {
    text-align: right;
    width: 100%;
    margin-right: 0px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-right: 16px;
}
