.progress-determinate {
    width: 500px;
    height: 5px;
    border-radius: 2px;
    background-color: #afd1ee;
}
.progress-determinate .pbar {
    width: 0%;
    height: 100%;
    background-color: #03a9f4;
}
