.progress-determinate {
    width: 500px;
    height: 5px;
    border-radius: 2px;
    background-color: #afd1ee;
    position: relative;
    overflow: hidden;
}
.progress-determinate .divider {
    width: 0%;
    height: 100%;
    background-color: #03a9f4;
}

.progress-indeterminate {
    width: 500px;
    height: 5px;
    border-radius: 2px;
    background-color: #afd1ee;
    position: relative;
    overflow: hidden;
}
.progress-indeterminate .divider {
    width: 50%;
    height: 100%;
    background-color: #03a9f4;
    position: absolute;
    left: -100%;
}
.progress-indeterminate .divider-fast {
    width: 50%;
    height: 100%;
    background-color: #03a9f4;
    position: absolute;
    left: -100%;
}
