.material-radio-button-container {
  padding: 8px;
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  @include cursor-pointer;

  .text {
    color: rgba(0,0,0, $primary-opacity-light);
    margin-left: 16px;
    @include Body1;
  }

  .radio-button {
    width: 20px;
    height: 20px;
    position: relative;
    left: 0;
  
    .border {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: rgba(0,0,0,0.54);
      box-sizing: border-box;
      transition: 0.25s border-color, 0.2s border-width ease-out;
    }
  
    .circle {
      width: 100%;
      height: 100%;
      position: absolute;
      @include center-both;
      border-radius: 100%;
      background-color: #2196F3;
      visibility: hidden;
      transition: 0.25s width ease-out, 0.25s height ease-out, 0.25s background-color;
    }
  }
}