.material-checkbox-container {
  padding: 8px;
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  @include cursor-pointer;

  & .text {
    margin-left: 16px;
    font-size: 15px;
    color: rgba(0,0,0,$primary-opacity-light);
  }

  &.dark-theme {
    .checkbox-icon {
      -webkit-filter: invert(11%);
    }

    .text {
      color: rgba(255,255,255, $primary-opacity-dark) !important;
    }
  }

  &.disabled {
    .text {
      color: rgba(0,0,0,$disabled-text-dark);
    }

    &, .material-checkbox {
      cursor: default;
    }
  }
}

.material-checkbox {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  @include ripple-icon;
  transition: 0.4s transform;

  &.scale {
    transform: scale(0.92);
  }

  .checkbox-border {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: rgba(0,0,0,0.54);
    border-style: solid;
    border-radius: 3px;
    box-sizing: border-box;
    transition: 0.1s border-color, 0.4s border-width cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .checkbox-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/Controls/check.svg');
    clip-path: inset(100% 50% 0 50%);
    -webkit-font-smoothing: antialiased;
    transform: scale(1) translateZ(0);
    transition: 2s clip-path cubic-bezier(0.19, 1, 0.22, 1), 1s transform cubic-bezier(0.19, 1, 0.22, 1);
    @include image-center(18px, auto);
    @include invert-colors;
  }

  &.icon-animation {
    .checkbox-icon {
      clip-path: inset(0 0 0 0);
    }
  }
}