%ripple-basics {
  user-select: none;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

@mixin ripple () {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  @extend %ripple-basics;
}

@mixin ripple-icon () {
  user-select: none;
  @extend %ripple-basics;
}