.material-button {
  min-width: 88px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
  border-radius: 2px;
  margin: 64px;
  text-align: center;
  @include Button;
  @include cursor-pointer;
  @include shadow(1);

  &.no-shadow {
    box-shadow: unset;
  }
}