html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  overflow: hidden;
  @include Body1;
}

.app-container {
  padding-top: 64px;
  padding-left: 32px;

  .material-button {
    margin-left: 32px;
  }
}