html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  overflow: hidden;
  @include Body1;
}

.test {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0,0,0,0.79);
  margin: 64px;
}